@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div>
        <a class="btn btn-primary mx-2" href="/Account/Login">Login</a>
        <a class="btn btn-secondary mx-2" href="/Account/Register">Register</a>
    </div>
</div>
